*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(rgb(0, 150, 136) 140px, rgb(220, 219, 209) 0);
    height: 100vh;
    font-family: 'Lato', sans-serif;
}
.main-container{
    display: flex;
    justify-content: center;
}
.container{
    width: 85%;
    margin: 30px 0;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
}
.container-left{
    background-color: white;
    width: 35%;
    height: 100%;
}

/* container-left */
.utente, .utente-chat, .input-messaggio{
    background-color: rgb(234, 234, 234);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid lightgrey;
    padding: 0 15px;
}
.utente img, .utente-chat img{
    border-radius: 50%;
    height: 45px;
}
.img-utente{
    display: flex;
    align-items: center;
}
h4{
    font-size: 14px;
}
.icone-utente i{
    color: rgb(164, 165, 165);
    padding: 5px;
}
.chat ul li{
    list-style: none;
    height: 70px;
    padding: 10px;
}
.active{
    background-color: rgb(238, 238, 238);
}
.chat ul li img{
    width: 50px;
    border-radius: 50%;
    vertical-align: text-top;
    margin-right: 15px;
}
/* /container-left */
/* notifiche */
.notifiche-contenitore{
    background-color: rgb(142, 218, 251);
    height: 70px;
    padding-left: 25px;
    display: flex;
    align-items: center;
}
.ricevi-notifiche{
    font-size: 15px;
}
.attiva-notifiche{
    text-decoration: underline;
    color: gray;
    font-size: 12px;  
}
.notifiche-contenitore i{
    color: rgb(142, 218, 251);
    font-size: 18px;
    padding: 10px 8px;
    border-radius: 50%;
    background-color: white;
    margin-right: 10px;
}
/* /notifiche */

/* input */
.input{
    background-color: rgb(248, 246, 245);
    position: relative;
}
.container input{
    width: 97%;
    padding: 10px;
    margin: 7px 0px 7px 7px;
    border: none;
    border: 1px solid rgb(240, 240, 240);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.input i{
    position: absolute;
}
.fa-search{
    padding: 10px;
}
/* /input */

/* container-right */
.container-right{
    background-image: url("../img/mine.jpg");
    width: 65%;
    position: relative;
    overflow-y: scroll;
} 
.img-utente-chat{
    display: flex;
    align-items: center;
}
.testo-utente{
    padding-left: 10px;
}
.testo-utente div:last-child {
    color: gray;
    font-size: 12px; 
} 

/* messaggi */
.contenitore-messaggi{
    height: calc(100% - 120px);
    overflow-y: scroll;
}
.messaggi{
    max-width: 80%;
    margin: auto;
    padding: 8px 0;
}
.messaggi:first-child{
    padding-top: 40px;
}
.sent{
    margin: 0 55%;
    background-color: #d5f9ba;
    position: relative;
}
.received{
    background-color: white;
    position: relative;
}
.sent, .received{
    width: 270px;
    padding: 17px 13px;
    border-radius: 10px;
    font-size: 13px;
}
.date{
    color: rgb(184, 183, 183);
    font-size: 9px;
    position: absolute;
    right: 5px;
    bottom: 3px;
    padding-top: 5px;
}
/* /messaggi */

/* input-messaggio */
.input-messaggio{
    height: 60px;
    width: 100%;
}
.input-messaggio input{
    width: 85%;
    border-radius: 5px;
    font-size: 12px;
    padding: 15px;
}
.input-messaggio i{
    color: grey;
    font-size: 20px;
    margin: 0 15px;
}
/* /container-right */