<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Boolzapp</title>
    <!-- Link stile -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Link stile -->
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <!-- /Google fonts -->
    <!-- Fontawsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <!-- Fontawsome -->
    <link rel="shortcut icon" href="img/favicon-1.png" type="image/x-icon">

</head>
<body>
    
    <div id="root" class="main-container">
        <div class="container">
            <div class="container-left">
                <div class="utente">
                    <div class="img-utente">
                        <img :src="utenteImg" alt="">
                        <h4>Nome Utente</h4>
                    </div>
                    <div class="icone-utente">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>

                <div class="notifiche-contenitore">
                    <i class="fas fa-bell-slash"></i>
                    <div class="notifiche">
                        <div class="ricevi-notifiche">Ricevi notifiche di nuovi messaggi</div>
                        <div class="attiva-notifiche">Attiva notifiche desktop</div>
                    </div>
                    
                </div>

                <div class="input">
                    <!-- <i class="fas fa-search"></i> -->
                    <input type="text" placeholder="Cerca o inizia una nuova chat">
                </div>

                <div class="chat">
                    <ul>
                        <li v-for="(item, index) in contacts" :key="index" :class='index == currentIndex ? "active" : "" ' @click="currentIndex = index">
                            <img :src="`img/avatar${item.avatar}.jpg`">{{ item.name }}
                        </li>
                    </ul>
                </div>
            </div>

            <div class="container-right">
                <div class="utente-chat">
                    <div class="img-utente-chat">
                        <img :src="`img/avatar${contacts[currentIndex].avatar}.jpg`">
                        <span class="testo-utente">
                            {{contacts[currentIndex].name}}
                            <div>Ultimo accesso oggi alle 11:30</div>
                        </span>
                    </div>
                    <div class="icone-utente">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <div class="contenitore-messaggi">
                    <div class="messaggi" v-for="(mess, index) in contacts[currentIndex].messages" :key="index"> 
                        <div :class="mess.status">
                            {{mess.message}}
                            <div class="date">
                                {{mess.date}}
                            </div>
                        </div>
                    </div>
                </div>
        


                <div class="input-messaggio">
                    <i class="far fa-smile"></i>
                    <input type="text" placeholder="Scrivi un messaggio" v-model="nuovo" @keyup.enter="newText()" v-model="text" @keyup.enter="setTimeout()">
                    <i class="fas fa-microphone"></i>
                </div>
            </div>

            </div>
        </div>

    </div> 

    

    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!-- /Vue.js -->
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <!-- Javascript -->
    <script src="js/main.js"></script>
    <!-- /Javascript -->

</body>
</html>